[Unit]
Description=My Background Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/.ass/sys.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
